#HeadNav{
  height:50px;
  width:100%;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,.1)), to(transparent));
  color:lighten($color: #fff, $amount: 0);
  text-align: left;
  position: fixed;
  z-index:10;
  .nav-wrap{
    margin:0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8e8;
    .nav-logo-wrap{
      width:20%;
      display:inline-block;
      height:50px;
      vertical-align: top;
      text-align:center;
      .nav-logo{
        height: 50px;
        width: 26px;
        font-size: 26px;
        display: inline-block;
        line-height: 50px;
        margin-right: 0;
        color:lighten($color: #fff, $amount: 0);
      }
    }
    .nav-list-wrap{
      height:50px;
      float: right;
      text-align: right;
      width:50%;
      .nav-list-menu{
        margin:0;
        height:50px;
        list-style: none;
        float: right;
        padding-right:20px;
        color:lighten($color: #fff, $amount: 0);
        background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,.1)), to(transparent));
        &>li{
          height:50px;
          float:left;
          color:lighten($color: #fff, $amount: 0);
          line-height:50px;
          a{
            color:lighten($color: #fff, $amount: 0);
          }
          a:hover{
            color:lighten($color: #1890ff, $amount: 0);
          }
        }
        &>li.ant-menu-item-selected{
          a{
            color:lighten($color: #1890ff, $amount: 0);
          }
        }
        li.ant-menu-submenu-selected{
          div{
            color:lighten($color: #1890ff, $amount: 0);
          }
        }
      }
    }
  }
}