#HeadNav {
  height: 50px;
  background-color: #b3b3b3;
  color: #fff;
  text-align: left;
}
#HeadNav .nav-wrap {
  margin: 0 auto;
  height: 50px;
  box-sizing: border-box;
}
#HeadNav .nav-wrap .nav-logo-wrap {
  width: 50%;
  display: inline-block;
  margin: 4px 12px;
  vertical-align: top;
  font-size: 26px;
  box-sizing: border-box;
  text-align: center;
}
#HeadNav .nav-wrap .nav-list-wrap {
  display: inline-block;
  height: 50px;
  text-align: right;
}
