#Home{
  .section-content{
    ._content{
      max-width:1200px;
      margin:0 auto;
      text-align: left;
      .content{
        margin-top:60px;
        .inner{
          .post{
            margin-top:60px;
            margin-bottom: 20px;
            padding-top:60px;
            padding-left:160px;
            clear:both;
            .date{
              float:left;
              margin-left:-160px;
              width:100px;
              padding:20px 0;
              text-align:center;
              background:#ff8c00;
              font-size:2em;
              color:#000;
              .small{
                font-size:.5em;
                border-top:1px solid #000;
                width:40px;
                display: block;
                margin:auto;
              }
            }
            .time{
              span{
                margin:0 5px;
              }
              a{
                color:lighten($color: #000000, $amount: 60%);
              }
            }
            .title{
              a{
                color:lighten($color: #000000, $amount: 10%);
                font-size:2em;
              }
            }
            .cont{
              font-size:1.2em;

            }
          }
        }
        .pagenavi{
          text-align:center;
          margin-top:90px;
          margin-bottom:40px;
        }
      }
    }
  }
}
